*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
}

.root{
    display: flex;
    justify-content: center;
    align-items: center
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}
.innercard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}